<div class="container mt-3">
  <h1>Watch Lists</h1>
  <%= link_to "+ New List", new_list_path %>
  <hr>
  <ul>
    <% @lists.each do |list| %>
      <li><%= link_to list.name, list_path(list) %></li>
    <% end %>
  </ul>
</div>
